= react_component 'Records', { data: @records }

= component_caption 'records.js.coffee'

= file_caption "#{Rails.root}/app/assets/stylesheets/records.scss", slice: [4,19]

%ul
  %li
    ReactCSSTransitionGroup may be used to animate the appearance and
    disappearance of list entries
  %li
    It can also be used with single elements or with nothing.
  %li
    It works by attaching css classes to the element during the rendering workflow
  %li
    It only works with CSS animations
