= react_component 'Records5', { data: @records }

= component_caption 'amount_box.js.coffee'

= component_caption 'records5.js.coffee'

%ul
  %li
    Functions depending on state may be used to calculate values that should
    change when the state changes
    
