= react_component 'Records1', { data: @records }

= controller_caption "records_controller.rb", slice: [5,4]

= view_caption "records/records1.html.haml", slice: [0,1]

= component_caption 'records1.js.coffee'

%label In JSX, the createElement would be something like:
%pre
  :escaped
    render (
      ... the code before the thead
      <thead>
        <tr>
          <th>Title'</th>
          <th>Amount</th>
        {
          this.props.data.map( record =>
            return <Record1 key={record.id}
                            record={record} />)
        }
      </thead>);

= component_caption 'record1.js.coffee'

%ul
  %li
    In coffeescript one may nest componets by using the
    React.createElement function, the props hash is passed as
    the second argument
  %li
    In JSX, the props are the tag attributes
  %li
    In coffeescript, children are the remaining arguments that come after the hash
  %li
    In JSX, they are just XML children
  %li
    Within the component, children are accessible as this.props.children
  %li
    When rendering several similar sibling components we have to use the key
    attribute so that react is able to distingish them
