= react_component 'Records4', { data: @records }

= controller_caption "records_controller.rb", slice: [46,9]

= component_caption 'record.js.coffee'

= component_caption 'records4.js.coffee'

%ul
  %li The edit form is an uncontrolled component
  %li It has no control over the values of its inputs
  %li It gets references to its inputs when rendering them
  %li It stores these references in order to later access the values of the inputs
