= react_component 'Records3', { data: @records }

= controller_caption "records_controller.rb", slice: [40,6]

= component_caption 'record3.js.coffee'

= component_caption 'records3.js.coffee'

%h3 Repeat with me:
%ul
  %li
    The only way a child should comunicate with a parent is by calling
    callbacks that are passed as props
  %li
    The only way a parent should communicate with its children is by
    passing props to them
