= react_component 'Records2', { data: @records }

= controller_caption "records_controller.rb", slice: [30,10]

= component_caption 'record_form.js.coffee'

= component_caption 'records2.js.coffee'

= component_caption 'record1.js.coffee'

= view_caption "records/records2.html.haml", slice: [0,1]

%ul
  %li
    The only way a child should comunicate with a parent is by calling
    callbacks that are passed as props
    %ul
      %li
        The only way a parent should communicate with its children is by
        passing props to them
  %li The record form is an example of a controlled component
  %li A controlled component has controlled inputs
  %li That is the value of its inputs is rendered by itself
  %li
    We have to change state in order to change the values of controlled inputs
  %li
    Network and bussiness logic should be encapsulated in appropriate modules
  %li
    This example is too small to bother doing so
