= react_component 'HelloWorld', name: @name

= controller_caption "pages_controller.rb", slice: [14,5]

= view_caption "pages/hello_world.html.haml", slice: [0,8]

= component_caption 'hello_world.coffee'

%ul
  %li
    Few attribute names are different than on regular html
    in order to avoid issues with javascript keywords (e.g. class, for)
  %li
    A component receives as arguments a hash called props
    that is available at this.props
  %li
    A component doesn't ever changes its own props
  %li
    The props are like imutable parameters that customize the component
    when rendering
  %li
    The props can be passed to the component with the
    render_component rails helper
