= react_component 'HelloWithInput', name: @name

= controller_caption "pages_controller.rb", slice: [20,5]

= component_caption 'hello_with_input.coffee'

%ul
  %li
    Appart from props, the state of a component can also be used to
    customize the component rendering
  %li
    The state can be found at this.state
  %li
    In order to change the state one should call the function this.setState
  %li
    Invoking setState will make the component rerender all parts of the
    dom affected by this state change
  %li
    The ref attribute should get a function that allows us to capture the
    rendered elements at render time, so that we can use their value later
  %li
    The react events do not allways have the same semantics that we are
    used to in regular dom.
/= view_caption "pages/hello_with_input.html.haml"
