%h1 Hello Worlds
%ul
  %li= link_to "Hello World JSX", hello_jsx_pages_path
  %li= link_to "Hello World JS", hello_js_pages_path
  %li= link_to "Hello World CoffeeScript", hello_world_pages_path
  %li= link_to "Hello With Input", hello_with_input_pages_path

%h1 Records
%ul
  %li= link_to "Records1 - Simple List", records1_records_path
  %li= link_to "Records2 - Add Record (controlled Compoent)", records2_records_path
  %li= link_to "Records3 - Delete Record", records3_records_path
  %li= link_to "Records4 - Edit Record (Uncontrolled Component)", records4_records_path
  %li= link_to "Records5 - Rendering  Computed Data", records5_records_path
  %li= link_to "Records - Effects", records_path
