// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}


.form-inline{
  width: 100%;
  .form-group{
    width: 33%;
    input, button {
      width: 100%;
      text-align: center;
    }
  }
}

ul{
  max-width: 500px;
}

.panel{
  text-align: center
}

table{
  th,td{
    text-align: center;
    line-height: 2.5em !important;
    width: 33% !important;
  }
}
