- file ||= "#{Rails.root}/app/assets/javascripts/components/#{component}"
- label = file.split("/").last
%label
  = label
  = "(excerpt)" if slice

%pre
  - lines = []
  - if file["html.haml"] || file[".coffee"]
    - lines = File.open(file).readlines
  - else
    - lines = render(file: file).split("\n").map{|a| "#{a}\n"}
  - slice ||= [0,lines.count]
  - sliced_lines = lines.send(:slice, slice[0],slice[1])
  = raw CGI::escapeHTML(sliced_lines.join)
