<!DOCTYPE html>
<html>
<head>
  <title>ReactDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Back",:back %> |
<%= link_to "Index", root_path %> |
<%- if @next_path ||= nil%>
  <%= link_to "Next", @next_path %>
<%- end %>

<br>
<br>
<%= yield %>
<br>
<br>

<%= link_to "Back",:back %> |
<%= link_to "Index", root_path %> |
<%- if @next_path ||= nil%>
  <%= link_to "Next", @next_path %>
<%- end %>


</body>
</html>
